@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Simple Starting Sample</h1>
    <p class="lead">This is a simple starting sample page for INF272 Practical 02.</p>
    <p>You can use this page as a template for creating new views in your MVC application.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVC Architecture</h2>
        <p>
            ASP.NET MVC provides a patterns-based way to build dynamic websites that enables a clean separation of concerns.
        </p>
        <p>
            <a class="btn btn-default" href="https://www.tutorialsteacher.com/mvc">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>HTML and CSS</h2>
        <p>
            HTML (HyperText Markup Language) is the standard markup language for documents designed to be displayed in a web browser.
            CSS (Cascading Style Sheets) is used to style and layout web pages.
        </p>
        <p>
            <a class="btn btn-default" href="https://www.w3schools.com/html/">Learn more about HTML &raquo;</a>
            <a class="btn btn-default" href="https://www.w3schools.com/css/">Learn more about CSS &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Practical 02</h2>
        <p>
            This practical focuses on HTML and CSS within MVC, creating models, controllers, and views, and displaying data.
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "People")">View People List &raquo;</a>
        </p>
    </div>
</div>